h1 {
  color: rgb(255, 0, 0);
  border: 5px solid rgb(0, 255, 0);
  padding: 50px 10px 300px;
  margin: 50px 0;
}

.h1-special {
  color: rgb(0, 255, 0);
  border: 20px solid orange;
}

body {
  background-color: rgb(210 179 227);
}

.bg-blue {
  background-color: rgb(78, 147, 168);
}

body.bg-green {
  background-color: rgb(71, 172, 71);
}

.bg-green {
  background-color: green;
}

.box {
  background-color: lightblue;
  border: 1px solid black;
  width: 300px;
  box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.308);
  border-radius: 10px;
  padding: 25px;
  height: 300px;
  margin: 0 auto 100px;
  display: block;
}

.bt {
  background-color: #1e1ecd;
  border-radius: 4px;
  border: 1px solid blue;
  padding: 4px 10px;
  color: white;
}
.bt:hover{
    background-color: #1515a1;
}

.bt:focus{
    border-color: black;
    color: lightgreen;
}
.bt:active{
    background-color: red;
}
