ul {
    list-style-type: none;
}

/* *[type="text"] {
    background-color: blue;
} */

label{
 display: block;
}

.mb1{
    margin-bottom: 20px;
}

.checkbox-label {
    display: inline;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
 border: 1px solid black;
}